hf_dataset_merged/data/
*.mp4
*.avi
*.mov
*.mkv
*.flv
# hf_dataset_merged/*.csv

### --- PYTHON & ENVIRONMENTS ---
harmful_venv/
env/
venv/
ENV/

# Loại bỏ các file cache của Python
**/__pycache__/
*.py[cod]
*$py.class

### --- JUPYTER NOTEBOOK ---
# Loại bỏ các file checkpoint khi chạy Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

### --- OPERATING SYSTEM ---
# Các file rác tự sinh của Windows/macOS
Thumbs.db
desktop.ini
.DS_Store

### --- IDE ---
# Cấu hình riêng của VS Code hoặc PyCharm
.vscode/
.idea/

